body {
  margin: 0;
  background-color: rgb(37, 37, 37);
}
.header{
    background-image: linear-gradient(
    rgb(105, 105, 105),
    rgb(65, 65, 65),
    rgb(37, 37, 37)
    );
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(177, 177, 177);
}
#navbar {
  background-color: rgb(29, 29, 29);
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(178, 178, 178);
}

#dogs {
  border: 1px solid rgb(235, 9, 9);
}
#main{
display: flex;
flex-wrap: wrap;
}

.eachCard {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.cards {
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  border-radius: 15px;
  height: 400px;
  width: 300px;
  padding: 1rem;
  margin: 2rem;
  color: rgb(178, 178, 178);
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 45px;
}
.btn {
  color: rgb(178, 178, 178);
  text-decoration: none;
  height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  margin-top: 30px;
}
.btn:active {
  box-shadow: none;
}
.btn:hover {
  color: yellow;
}
.btn2 {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  padding: 5px;
}
.btn2:active {
  box-shadow: none;
}
.btn2:hover {
  color: yellow;
}
.aboutCardFull {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aboutCard {
  color: aliceblue;
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  border-radius: 15px;
  width: 300px;
  height: 450px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutCardImg {
  height: 280px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgb(111, 111, 111);
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.searchInput {
  border-radius: 5px;
  background-color: lightgrey;
  margin-left: 10px;
}
h2{
    margin-left: 10px;;
}
.idNumber {
  float: right;
}
