body {
    margin: 0;
}

#navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
}

table{
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgb(107, 106, 106);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    padding: 1rem;
    margin: 2rem;
}

#dogs{
    border: 1px solid black;
}

.cards{
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    padding: 1rem;
    margin: 2rem;
}

.cards:nth-child(2){
    float: right;
}

.image{
    height: 250px;
    display: flex;
    justify-content: center;
}

button{
    height: 20px;
}
